body{
background-color:hsl(216, 15%, 48%);    
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

div{ 
background-color: white;
border-radius: 15px;
padding: 30px;
width: 200px;
}
img{
    width: 100%; 
    border-radius: 10px;
}
h2{

    text-align: center;
}
 
h5{
    text-align: center; 
    color:  hsl(216, 15%, 48%);
}